* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Fredoka One", cursive;
}

p {
  font-family: "ABeeZee", sans-serif;
}
