* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Fredoka One", cursive;
}

header {
  text-align: center;
  color: rgb(229, 49, 112);
  padding-top: 40px;
  padding-bottom: 70px;
}

p,
a {
  font-family: "ABeeZee", sans-serif;
}

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.container > p {
  text-align: center;
}

.cards-container {
  padding-top: 50px;
}

.cards {
  padding-bottom: 40px;
}

.card {
  float: left;

  background-color: black;
  color: white;
  width: calc((960px / 3) - (60px / 3));
}

.card:nth-of-type(1),
.card:nth-of-type(2) {
  margin-right: 30px;
}
