* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Fredoka One", cursive;
}

header {
  text-align: center;
  color: rgb(229, 49, 112);
  padding-top: 40px;
  padding-bottom: 70px;
}

p,
a {
  font-family: "ABeeZee", sans-serif;
}

a {
  color: rgb(62, 177, 239);
  text-decoration: none;
}

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.container > p {
  text-align: center;
}

.cards-container {
  padding-top: 50px;
}

.cards {
  padding-bottom: 40px;
}

.card {
  float: left;

  background-color: black;
  color: white;
  width: calc((960px / 3) - (50px / 3));
  box-shadow: 5px 10px 10px grey;
}

.card:nth-of-type(1),
.card:nth-of-type(2) {
  margin-right: 25px;
}

.float {
  float: left;
}

.card img {
  width: 92px;
  margin-right: 10px;
}

.padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding h3 {
  font-weight: lighter;
}

.padding > h3,
.padding > p {
  padding-bottom: 5px;
}
